body {
  background: #f5f5f5;
}

.container {
     width: 70%;
     min-height:  270px;
     margin: 0 auto;
     background-color: #FFF;
     border: 1px solid #000;
     padding: 1em;
}

container h1 {
  text-align: center;
}