/* IMPOSTAZIONI GENERALI */
body{
    font-family: 'Fira Sans', sans-serif;
    font-size: 1.5rem;
}



/* HEADER */
header{
    background-color: snow;
}

li{
    list-style: none;
}

a{
    color:black;
    text-decoration: none;
}

.navbar{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    
    
}

.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.nav-link{
    transition: o.7s ease;
}

.nav-link:hover{
    color: darkviolet;
}

.hamburger{
    display:none;
    cursor: pointer;
}

.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition:all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: red;
}

.nav-link1{
    background-image: linear-gradient(to right top, #6cc1e2, #489dcf, #3379b8, #32559c, #392f7a);
    color: white;
    padding: 7px;
}


/* MAIN 1*/

.header1{
    background-image: url("../images/banner.jpg");
    background-size: cover;
    box-shadow: #d3d3d3;
    background-repeat: no-repeat;
    position: relative;
    
}

.header1::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0,0.6);
    opacity: 0.3;
}

h1 {
    font-size: 4.2rem;
    color: white;
    text-align: left;
    margin-left: 7%;
    padding-top: 50px;
    text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;
    
}

.subTitle1 {
    font-size: 1.5rem;
    color: white;
    text-align: start;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 25px;
    margin-bottom: 30px;
    text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;

}

.bottone1{
    background-image: linear-gradient(to right top, #6cc1e2, #489dcf, #3379b8, #32559c, #392f7a);
    font-size: 1.9rem;
    color: white;
    margin-left: 7%;
    padding: 15px 25px 15px 25px;
    margin-bottom: 30px;
    cursor: pointer;
    
}

button a{
    color: white;
    
}

.header1 button:hover{
    opacity:0.9;
    
}

/* MAIN 2 */
svg{
    margin-left: 45%;
}

h2{
    font-size: 3.3rem;
    text-align: center;
    margin-top: 50px;
    
}

p{
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 45px;
    line-height: 1.7;
    margin-right: 30px;
    margin-left: 30px;
    
}

h3{
    font-size: 2.5rem;
    text-align: center;
    
    
}

.section-WriteUs{
    background-color: #0c0633;
    text-align: center;
    
}

.section-WriteUs h1{
    text-align: center;
    
}
.section-WriteUs button{
    margin-right: 33px;
}

/* MAIN 2 */

.notebook-img{
    border-radius: 10px;
    margin: 70px;
}

.flex-container{
    display: flex;
    justify-content: center;
    
}

.flex-container2{
    display:flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    margin-right: 17%;
    margin-left: -30%;
}

/* FOOTER */

h4{
    text-align: start;
    margin-left: 20%;
    padding-top: 75px;
    font-size: 1.7rem;
    font-weight: 400;
    margin-right: 9%;
}

.subTitle2{
    text-align: start;
    margin-left: 20%;
}

.footerHome{
    background-color: rgb(238,238,238);
    padding-bottom: 70px;
    
}

.flex-container3{
    display: flex;
    padding-top: 40px;
    margin-left: 16%;
    
}

/* EMAIL BOX - BUTTON */
.email-box{
    display: flex;
    flex-direction: column;
    margin-left: 20vw;
    margin-right: 17vw;
    margin-top: 30px;
    padding-bottom: 30px;
}

.news-letter{
    border: 1px solid black;
    height: 60px;
}

.button-news{
    background-image: linear-gradient(to right top, #6cc1e2, #489dcf, #3379b8, #32559c, #392f7a);
    font-size: 1.9rem;
    color: white;    
    padding: 15px 25px 15px 25px;
    margin-bottom: 30px;
    cursor: pointer;
}

/* CONTATTI */

.message{
    display: flex;
    width: 80%;
    margin: 0 auto;
    height: 55px;
    margin-top: 20px;

}

.message2{
    height: 50px;
    margin-top: 20px;
   width: 80%;
   margin-left: 9.5%
    
}

.button-contact{
    background-image: linear-gradient(to right top, #6cc1e2, #489dcf, #3379b8, #32559c, #392f7a);
    font-size: 1.7rem;
    color: white;
    width: 60%;
    margin-left: 20%;   
    padding: 15px 25px 15px 25px;
    margin-bottom: 30px;
    margin-top: 30px;
    cursor: pointer;
}




/* CHI SIAMO */

 .notebook-img2{
     width: 100%;
     margin: 0 auto;
     padding-left: 7%;
     padding-right: 7%;

 }

 td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;



}

h5{
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.8rem;
}

table{
    width: 80%;
    margin: 0 auto;
    background-color: #d2dce7;
    margin-bottom: 60px;
}

.tableC{
   background-color: snow;
}

/* RESPONSIVE */
