<div class="box-container">
<h1>Home Page</h1>
</div>
<div class="box-cards">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 dest1">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Caribbean</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 17 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 dest2">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Corfu</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 38 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 dest3">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Bangkok</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 1 hour ago</small></p>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4 dest4">

    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">San Jose</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 2 hours ago</small></p>
      </div>
    </div>
  </div>
</div>
</div>
