/* stili generali */
body{
    font-family: 'Open Sans', 'sans-serif';
    font-size: 1.2rem;
    line-height: 1.65
}

h1 h2 h3{ 
    color:#25a2c3;
    line-height: 1.5;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;

}

/* header */
#testata{
    background-color: black;
    padding-top: 15px;
    padding-bottom: 5px;
}
    


/* main */

header, main, aside, footer {
    text-align: center;

}

#prima-section{
    
    background-color: #cccc;
    width: 0 auto;
    height: 270px;
    background-image: url("../images/banner.jpg");
    background-size:cover;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 30px;
}


.sfondo1{
    width: 0 auto;
    background-clip: padding-box;

}


h1{
    font-family: 'Montserrat',sans-serif;
    color: #25a2c3;
    padding-top: 20px;
}

.testo1{
    padding-top: 30px;
    margin-bottom: 30px;
}


.bottone{
    background-color: #f04c2f;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color:#fff;
    text-decoration:none;
    padding: 15px 30px;
    border-radius:5px;
    cursor:hand;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

section div a{
    margin-top: 50px;
}

#titolo2{
    color:#25a2c3;
    font-weight: bold;
    padding-bottom: 10px;
}

#titolo3{
    color: #25a2c3;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 5px;
}

#notebook{
    margin: 0 auto;
    background-color: #fff;
    height: 100%;
    width: calc(100% - 80px);
    border-radius: 100%;
    overflow: hidden;
    padding-top: 20px;

}

#titolo4{
    color:#25a2c3;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
}

#titolo5{
    color: #25a2c3;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 10px;
}

#testimonial{
    background-color: #e22d0e;
    padding-bottom: 20px;
}

#titolo6{
    color: #fff;
    padding-top: 30px;
}

#testo3{
    color:#fff;
    font-size: smaller;
    padding-top: 10px;
    margin-bottom: -18px;
}

#preside{
    color: #fff;
    font-size: smaller;
}


/* aside */

/* footer */

footer{
    padding-top: 40px;
    background-color: #25a2c3;
    font-weight: bold;
    color: #fff;
}

#phonelink{
    color: #fff;
}

#andresslink{
    color: #fff;
}