@media(max-width:768px){
    .hamburger{
        display: block;
    }

    


    .nav-menu{
        
        position: fixed;
        left: -100%;
        top: 225px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(255, 250, 250,0.8);
        width: 100%;
        text-align: center;
        transition: o.3s;
        z-index: 100;

    }


    .nav-item{
        margin: 16px 0;

    }

    .nav-menu.active{
        left: 0;
        display: flex;
    }
}
